<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Made by Spring Framework</title>
</head>

<body>
<table border="1" rules="all">
    <tr>
        <td>ID</td>
        <td>Publisher Name</td>
        <td>Zip-Code</td>
    </tr>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.id}"></td>
        <td th:text="${publisher.name}"></td>
        <td th:text="${publisher.zip}"></td>
    </tr>
</table>
</body>
</html>